h1{
    display: block;
    text-align: center;
    color: #a80f4f;
}
h2{
    display: block;
    text-align: center;
    color: #a80f4f;
}
body{
    background-color: #fff5f9;
}
canvas{
    display: block;
    margin: auto;
    background-color: #ffedf5;
    border: 3px solid #a80f4f;
}
button{
    padding: 10px;
    padding-right: 20px;
    padding-left: 25px;
    border-radius: 25px;
    border: 2px dashed #a80f4f;
    background-color: #ffedf5;
    color:#a80f4f;
    font-family: 'Courier New', monospace;
    font-size: 15px;
}
.controls{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 30px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.patterns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 15px;
    margin-bottom: 15px;
    margin-top: 30px;
}